
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Qt / qmake
build-*/
debug/
release/

*.user
*.pro.user
*.pro.user.*

Makefile
Makefile.Debug
Makefile.Release

ui_*.h
moc_*.cpp
qrc_*.cpp
